.left-sidebar {
  background-color: #333333;
  padding: 10px;
  color: #fff;
  height: 100%;
  width: 44px;
  float: left;
  box-sizing: border-box;
}

.left-sidebar .logo {
  height: 23px;
  border-bottom: 3px solid #adadad;
  cursor: default;
}

.left-sidebar .logo:hover {
  border-bottom: 3px solid #007ad3;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.left-sidebar ul {
  margin: 30px 0;
}

.left-sidebar ul li {
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.5;
}

.left-sidebar ul li.active {
  color: #007ad3;
  opacity: 1 !important;
}

.left-sidebar ul li:hover {
  opacity: 0.7;
}
