.room-list {
  float: left;
  background-color: #252526;
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  border-left: 1px solid #252526;
}

.room-list .header {
  padding: 5px 20px;
  font-size: 12px;
  background-color: #333333;
  font-weight: bold;
  letter-spacing: 0.1em;
}
