.room-list {
  float: left;
  background-color: #252526;
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  color: #fff;
  border-left: 1px solid #252526;
}

.room-list .header {
  padding: 5px 20px;
  font-size: 12px;
  background-color: #333333;
  font-weight: bold;
  letter-spacing: 0.1em;
}

ul {
  padding: 8px 20px;
  font-size: 12px;
  overflow: auto;
  height: calc(100% - 40px);
}

ul li {
  opacity: 0.5;
  padding: 1px 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

ul li:hover {
  opacity: 0.7;
}

ul li.active {
  opacity: 1;
}

ul li.active icon-component {
  color: #c79446;
}

ul li icon-component {
  opacity: 0.7;
  position: relative;
  top: 4px;
  margin-right: 3px;
}
