footer {
  font-size: 10px;
  position: relative;
  color: #fff;
  text-align: right;
  height: 19px;
  box-sizing: border-box;
}

footer span {
  position: relative;
  top: -5px;
  margin-right: 10px;
  margin-left: 5px;
}
